{% extends "base.html" %}

{% block title %}Examples{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1 class="mb-4">All Examples</h1>
    <form action="/search" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="query" placeholder="Search examples...">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <div class="row row-cols-2">
        {% for example in examples %}
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">
                        <i class="fa fa-book"></i>
                        {% if example.mark is not none %}
                        {{ example.text[:example.mark] }}
                        <strong>{{ example.text[example.mark:example.end] }}</strong>
                        {{ example.text[example.end:] }}
                        {% else %}
                        {{ example.text }}
                        {% endif %}
                    </p>
                    {% if example.audio_file %}
                    <audio controls playbackRate="0.75">
                        <source src="{{ example.audio_file }}" type="audio/ogg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a href="{{ url_for('learn') }}" class="btn btn-primary">Learn Random Example</a>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Display 5 Random Examples</a>
        <a href="{{ url_for('entries') }}" class="btn btn-primary">Display all entries</a>
    </div>
</div>

{% endblock %}

{% block scripts %}

<!-- Additional JavaScript code specific to the index.html template -->
<script>
    // Your additional JavaScript code here
</script>

{% endblock %}